<template>
  <div class="login-page">
    <div class="login-box">
      <div class="title">Management System</div>
      <div class="user">
        <a-input
          ref="username"
          v-model="username"
          placeholder="用户名"
          size="large"
        >
          <a-icon slot="prefix" type="user" />
        </a-input>
      </div>
      <div class="pwd">
        <a-input-password
          ref="password"
          v-model="password"
          placeholder="密码"
          size="large"
        >
          <a-icon slot="prefix" type="lock" />
        </a-input-password>
      </div>
      <div class="btn">
        <a-button
          type="primary"
          :loading="loading"
          block
          size="large"
          @click="gotoLogin"
          >登录</a-button
        >
      </div>
    </div>
  </div>
</template>

<script>
import { User } from "@apis/index";
import { createNamespacedHelpers } from "vuex";
const { mapMutations } = createNamespacedHelpers("System");
export default {
  name: "Login",
  data() {
    return {
      username: "",
      password: "",
      loading: false,
    };
  },
  methods: {
    ...mapMutations(["UserInfoChange"]),
    gotoLogin() {
      if (this.username && this.password) {
        this.loading = true;
        User.login({
          username: this.username,
          password: this.password,
        }).then((res) => {
          this.loading = false;
          if (res.data.success) {
            this.UserInfoChange(res.data.user)
            this.$router.push({ name: "Home" });
          }
          else {
            this.$message.error(res.data.message);
          }
        });
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.login-page {
  width: 100%;
  height: 100%;
  background-color: #e5ad0f;
  background-image: linear-gradient(
    141deg,
    #aed437 0%,
    #dca529 51%,
    #e5ad0f 75%
  );
  display: flex;
  justify-content: center;
  align-items: center;

  .login-box {
    transform: translateY(-56px);

    .title {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      letter-spacing: 2px;
      text-align: center;
    }

    .user,
    .pwd {
      margin-top: 20px;
      width: 300px;
    }

    .btn {
      text-align: center;
      margin-top: 20px;
    }
  }
}
</style>