<!-- 颜色品类 -->
<template>
  <div class="ColorCategory">
    <!-- 品类操作 -->
    <div class="mb-10">
      <AreaHeader text="操作" />
      <a-space size="middle">
        <a-button type="primary" @click="addNew"> 新增 </a-button>
        <a-button type="danger" :disabled="!hasSelected" @click="deleteBatch">
          批量删除
        </a-button>
      </a-space>
    </div>
    <!-- 品类查询 -->
    <div class="mb-20">
      <AreaHeader text="查询" />
      <a-form layout="inline">
        <a-form-item label="名称">
          <a-input placeholder="商品的名称" :allowClear="true" v-model="name" />
        </a-form-item>
        <a-form-item label="类别">
          <a-select v-model="category" style="width: 200px">
            <a-select-option value=""> 全部 </a-select-option>
            <a-select-option :value="1"> 宿舍神器 </a-select-option>
            <a-select-option :value="2"> 二手书籍 </a-select-option>
            <a-select-option :value="3"> 电子产品 </a-select-option>
            <a-select-option :value="4"> 学习用品 </a-select-option>
            <a-select-option :value="5"> 其他好物 </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item>
          <a-space size="small">
            <a-button
              type="primary"
              @click="resetSearch"
              :disabled="!category && !name"
            >
              重置
            </a-button>
            <a-button type="primary" @click="handleSearch"> 查询 </a-button>
          </a-space>
        </a-form-item>
      </a-form>
    </div>
    <!-- 表格 -->
    <a-table
      bordered
      :columns="columns"
      :row-key="(record) => record.category"
      :data-source="data"
      :pagination="pagination"
      :loading="loading"
      @change="handleTableChange"
      :row-selection="{
        selectedRowKeys: selectedRowKeys,
        onChange: onSelectChange,
      }"
    >
      <div slot="pic" slot-scope="text, record">
        <div v-if="record.files.length">
          <a-button type="link" @click="showPic(record.files)">
            查看图片
          </a-button>
        </div>
        <div v-else>无</div>
      </div>
      <div slot="operate" slot-scope="text, record" class="operate">
        <div>
          <a-icon
            class="operate-icon"
            type="edit"
            theme="twoTone"
            two-tone-color="#52c41a"
            @click="handleEdited(record)"
          />
        </div>
        <div>
          <a-icon
            class="operate-icon"
            type="delete"
            theme="twoTone"
            two-tone-color="#eb2f96"
            @click="handleDelete(record)"
          />
        </div>
      </div>
    </a-table>
    <!-- 弹出框  删除 -->
    <a-modal
      title="删除商品"
      :closable="false"
      :maskClosable="false"
      :visible="deleteSingleVisible"
      :confirm-loading="deleteSingleLoading"
      @ok="handleDeleteSingleOk"
      okText="确认"
      @cancel="handleDeleteSingleCancel"
      cancelText="取消"
    >
      <div>
        是否确认删除此商品
        <span v-html="operateData.name" class="fw-b"></span> ?
      </div>
    </a-modal>
    <!-- 弹出框  批量删除 -->
    <a-modal
      title="批量删除商品"
      :closable="false"
      :maskClosable="false"
      :visible="deleteBatchVisible"
      :confirm-loading="deleteBatchLoading"
      @ok="handleDeleteBatchOk"
      okText="确认"
      @cancel="handleDeleteBatchCancel"
      cancelText="取消"
    >
      <div>是否确认批量删除以下商品</div>
      <div v-html="idsName" class="fw-b"></div>
    </a-modal>
    <!-- 弹出框  新增 编辑 -->
    <a-modal
      :title="addEditTitle"
      :closable="false"
      :maskClosable="false"
      :visible="addEditVisible"
      :confirm-loading="addEditLoading"
      @ok="handleAddEditOk"
      okText="确认"
      @cancel="handleAddEditCancel"
      cancelText="取消"
    >
      <a-form layout="horizontal">
        <a-form-item label="名称">
          <a-input
            placeholder="商品的名称"
            :allowClear="true"
            v-model="nameAddEdit"
          />
        </a-form-item>
        <a-form-item label="类别">
          <a-select
            v-model="categoryAddEdit"
            style="width: 100%"
            placeholder="请选择商品的类别"
          >
            <a-select-option :value="1"> 宿舍神器 </a-select-option>
            <a-select-option :value="2"> 二手书籍 </a-select-option>
            <a-select-option :value="3"> 电子产品 </a-select-option>
            <a-select-option :value="4"> 学习用品 </a-select-option>
            <a-select-option :value="5"> 其他好物 </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="原价(元)">
          <a-input-number
            style="width: 100%"
            :allowClear="true"
            v-model="originalAddEdit"
          />
        </a-form-item>
        <a-form-item label="现价(元)">
          <a-input-number
            style="width: 100%"
            :allowClear="true"
            v-model="currentAddEdit"
          />
        </a-form-item>
        <a-form-item label="发货地">
          <a-input
            placeholder="商品的发货地"
            :allowClear="true"
            v-model="fromAddEdit"
          />
        </a-form-item>
        <a-form-item label="快递方式">
          <a-select
            v-model="expressAddEdit"
            style="width: 100%"
            placeholder="请选择快递方式"
          >
            <a-select-option :value="1"> 包邮 </a-select-option>
            <a-select-option :value="2"> 不包邮 </a-select-option>
          </a-select>
        </a-form-item>
        <a-form-item label="描述">
          <a-textarea
            placeholder="商品的描述"
            :allowClear="true"
            v-model="descAddEdit"
          />
        </a-form-item>
        <a-form-item label="图片">
          <a-upload
            :customRequest="upload"
            :file-list="uploadedFileList"
            class="upload-list-inline"
            :remove="deleteFileItem"
          >
            <a-button> <a-icon type="upload" /> upload </a-button>
          </a-upload>
        </a-form-item>
      </a-form>
    </a-modal>
    <!-- 弹出框  查看图片 -->
    <a-modal
      title="查看图片"
      :visible="PICVisible"
      :destroyOnClose="true"
      :footer="null"
      @cancel="PICVisible = false"
    >
      <a-row :gutter="16" v-if="PICVisible && PICFiles.length">
        <a-col :span="8" v-for="item in PICFiles" :key="item.uid">
          <a-card hoverable>
            <img slot="cover" :alt="item.name" :src="item.base64" />
            <a-card-meta>
              <template slot="description"> {{ item.name }} </template>
            </a-card-meta>
          </a-card>
        </a-col>
      </a-row>
    </a-modal>
  </div>
</template>

<script>
import { Good } from "@/apis/index";
import AreaHeader from "@src/components/AreaHeader";
export default {
  name: "ColorCategory",
  data() {
    return {
      data: [],
      pagination: {
        current: 1,
        pageSize: 10,
        total: 0,
        showTotal: (total) => `共 ${total} 条记录`,
      },
      loading: false,
      columns: [
        {
          title: "商品名称",
          dataIndex: "name",
          align: "center",
        },
        {
          title: "商品类别",
          dataIndex: "category",
          align: "center",
          customRender: (text) => {
            let res = "--";
            switch (text) {
              case 1:
                res = "宿舍神器";
                break;
              case 2:
                res = "二手书籍";
                break;
              case 3:
                res = "电子产品";
                break;
              case 4:
                res = "学习用品";
                break;
              case 5:
                res = "其他好物";
                break;
            }
            return res;
          },
        },
        {
          title: "缩略图",
          dataIndex: "files",
          align: "center",
          scopedSlots: {
            customRender: "pic",
          },
        },
        {
          title: "商品原价(元)",
          dataIndex: "original",
          align: "center",
        },
        {
          title: "商品现价(元)",
          dataIndex: "current",
          align: "center",
        },
        {
          title: "发货地",
          dataIndex: "from",
          align: "center",
        },
        {
          title: "快递方式",
          dataIndex: "express",
          align: "center",
          customRender: (text) => {
            let res = "--";
            switch (text) {
              case 1:
                res = "包邮";
                break;
              case 2:
                res = "不包邮";
                break;
            }
            return res;
          },
        },
        {
          title: "描述",
          dataIndex: "desc",
          align: "center",
          width: 220,
          ellipsis: true,
        },
        {
          title: "操作",
          dataIndex: "operate",
          align: "center",
          scopedSlots: {
            customRender: "operate",
          },
        },
      ],
      selectedRowKeys: [],
      selectedRows: [],
      // 删除功能
      deleteSingleVisible: false,
      deleteSingleLoading: false,
      deleteBatchVisible: false,
      deleteBatchLoading: false,
      operateData: {},
      idsName: "",
      // 搜索筛选
      category: "",
      name: "",
      // 新增编辑
      id: "",
      nameAddEdit: "",
      categoryAddEdit: "",
      originalAddEdit: "",
      currentAddEdit: "",
      uploadedFileList: [],
      fromAddEdit: "",
      expressAddEdit: "",
      descAddEdit: "",
      addEditVisible: false,
      addEditLoading: false,
      addEditTitle: "",
      addEditType: "",
      // 查看图片
      PICVisible: false,
      PICFiles: [],
    };
  },
  computed: {
    hasSelected() {
      return this.selectedRowKeys.length > 0;
    },
  },
  components: {
    AreaHeader,
  },
  mounted() {
    this.fetch();
  },
  methods: {
    // 展示图片
    showPic(files) {
      this.PICFiles = [];
      this.PICFiles = files;
      this.PICVisible = true;
    },
    // 上传图片
    async upload(info) {
      //初始化文件信息
      const fileInfo = {
        uid: info.file.uid,
        name: info.file.name,
        status: "uploading",
        response: "",
        url: "",
        base64: "",
      };
      //放入上传列表中，以便于显示上传进度
      this.uploadedFileList.push(fileInfo);
      //转base64
      const fileReader = new FileReader();
      fileReader.readAsDataURL(info.file);
      fileReader.onload = () => {
        fileInfo.status = "done";
        fileInfo.response = '{"status": "success"}';
        fileInfo.linkProps = '{"download": "image"}';
        fileInfo.base64 = fileReader.result;
      };
    },
    deleteFileItem(file) {
      //找到当前文件所在列表的索引
      let index = this.uploadedFileList.indexOf(file);
      //从列表中移除该文件
      this.uploadedFileList.splice(index, 1);
      return true;
    },
    // 分页
    handleTableChange(pagination) {
      this.pagination.current = pagination.current;
      this.fetch();
    },
    // 选择
    onSelectChange(selectedRowKeys, selectedRows) {
      this.selectedRowKeys = selectedRowKeys;
      this.selectedRows = selectedRows;
    },
    // 查询条件
    handleSearch() {
      this.pagination.current = 1;
      this.fetch();
    },
    // 重置查询条件
    resetSearch() {
      this.category = "";
      this.name = "";
      this.pagination.current = 1;
      this.fetch();
    },
    // 获取表格数据
    fetch() {
      this.loading = true;
      Good.getGoods({
        category: this.category,
        name: this.name,
        page: this.pagination.current,
        pageSize: this.pagination.pageSize,
      }).then((res) => {
        let data = res.data.data;
        const pagination = {
          ...this.pagination,
        };
        pagination.total = data.total;
        this.loading = false;
        this.data = data.results;
        this.pagination = pagination;
      });
    },
    // 点击编辑操作,出现编辑弹出框
    handleEdited(record) {
      this.id = record._id;
      this.categoryAddEdit = record.category;
      this.nameAddEdit = record.name;
      this.originalAddEdit = record.original;
      this.currentAddEdit = record.current;
      this.uploadedFileList = record.files;
      this.fromAddEdit = record.from;
      this.expressAddEdit = record.express;
      this.descAddEdit = record.desc;

      this.addEditTitle = "编辑";
      this.addEditType = "edit";
      this.addEditVisible = true;
    },
    // 点击删除操作,出现删除弹出框
    handleDelete(record) {
      this.operateData = record;
      this.deleteSingleVisible = true;
    },
    // 删除弹出框点击确定操作
    handleDeleteSingleOk() {
      const _t = this;
      this.deleteSingleLoading = true;
      Good.deleteGoods({
        ids: this.operateData._id,
      }).then((result) => {
        let res = result.data;
        _t.deleteSingleLoading = false;
        _t.deleteSingleVisible = false;
        if (res.success) {
          _t.$message.success(res.message);
          _t.pagination.current = 1;
          _t.fetch();
        } else {
          _t.$message.error(res.message);
        }
      });
    },
    // 删除弹出框点击取消操作
    handleDeleteSingleCancel() {
      if (!this.deleteSingleLoading) {
        this.deleteSingleVisible = false;
      }
    },
    // 点击批量删除,出现批量删除弹出框或单个删除弹出框
    deleteBatch() {
      if (this.selectedRows.length == 1) {
        this.handleDelete(this.selectedRows[0]);
      } else {
        this.deleteBatchVisible = true;
        let idName = [];
        this.selectedRows.map((item) => {
          idName.push(item.name);
        });
        this.idsName = idName.join("&nbsp;,&nbsp;");
      }
    },
    // 批量删除弹出框点击确定操作
    handleDeleteBatchOk() {
      const _t = this;
      let ids = [];
      this.selectedRows.map((item) => {
        ids.push(item._id);
      });
      this.deleteBatchLoading = true;
      Good.deleteGoods({
        ids: ids.join(","),
      }).then((result) => {
        let res = result.data;
        _t.deleteBatchLoading = false;
        _t.deleteBatchVisible = false;
        if (res.success) {
          _t.$message.success(res.message);
          _t.pagination.current = 1;
          _t.selectedRowKeys = [];
          _t.selectedRows = [];
          _t.fetch();
        } else {
          _t.$message.error(res.message);
        }
      });
    },
    // 批量删除弹出框点击取消操作
    handleDeleteBatchCancel() {
      if (!this.deleteBatchLoading) {
        this.deleteBatchVisible = false;
      }
    },
    // 新增品类 按钮
    addNew() {
      this.id = "";
      this.categoryAddEdit = "";
      this.nameAddEdit = "";
      this.originalAddEdit = "";
      this.currentAddEdit = "";
      this.uploadedFileList = [];
      this.fromAddEdit = "";
      this.expressAddEdit = "";
      this.descAddEdit = "";

      this.addEditTitle = "新增";
      this.addEditType = "add";
      this.addEditVisible = true;
    },
    // 新增编辑 弹出框点击确定操作
    handleAddEditOk() {
      const _t = this;
      if (this.nameAddEdit == "") {
        this.$message.info("请填写商品名称");
      } else if (this.categoryAddEdit == "") {
        this.$message.info("请选择商品类别");
      } else if (this.originalAddEdit < this.currentAddEdit) {
        this.$message.info("原价不能比现价低");
      } else {
        this.addEditLoading = true;
        Good.addEditGoods({
          id: _t.id,
          category: _t.categoryAddEdit,
          name: _t.nameAddEdit,
          original: _t.originalAddEdit,
          current: _t.currentAddEdit,
          files: _t.uploadedFileList,
          from: _t.fromAddEdit,
          express: _t.expressAddEdit,
          desc: _t.descAddEdit,
          type: _t.addEditType,
        }).then((result) => {
          let res = result.data;
          _t.addEditLoading = false;
          if (res.success) {
            _t.addEditVisible = false;
            _t.$message.success(res.message);
            if (_t.addEditType == "add") {
              _t.pagination.current = 1;
            }
            _t.selectedRowKeys = [];
            _t.selectedRows = [];
            _t.fetch();
          } else {
            _t.$message.error(res.message);
          }
        });
      }
    },
    // 新增编辑 弹出框点击取消操作
    handleAddEditCancel() {
      if (!this.addEditLoading) {
        this.addEditVisible = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.breadcrumb {
  margin-bottom: 20px;
}

.operate {
  display: flex;
  justify-content: space-around;
}

.upload-list-inline >>> .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
.upload-list-inline >>> .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
.upload-list-inline >>> .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}
</style>