<template>
  <div class="AreaHeader">
    <span class="blue">>>  </span>
    <span v-text="text"></span>
  </div>
</template>

<script>
export default {
  name: "AreaHeader",
  props: ["text"],
};
</script>

<style lang="less" scoped>
.AreaHeader {
  line-height: 32px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1.5px;

  .blue {
    color: rgb(15, 115, 209);
  }
}
</style>