<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import { User } from "@apis/index";

import { createNamespacedHelpers } from "vuex";
const { mapMutations } = createNamespacedHelpers("System");

export default {
  name: "app",
  beforeCreate() {
    User.getUserInfo().then((res) => {
      if (res.data.code && res.data.code == 200) {
        this.UserInfoChange(res.data.user);
      } else {
        this.$router.push({
          name: "Login",
        });
      }
    });
  },
  methods: {
    ...mapMutations(["UserInfoChange"]),
  },
};
</script>

<style>
html,
body,
#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  border: 0 none;
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 定义滚动条样式 */
.menu::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.home .content .views::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.ant-table-pagination.ant-pagination {
  width: 100%;
  text-align: right;
}
.ant-table-pagination.ant-pagination .ant-pagination-total-text {
  float: left;
}
.ant-table td,
.ant-table th {
  white-space: nowrap;
}
.ant-table .operate-icon {
  margin: 0 10px;
}

.fw-b {
  font-weight: bold;
}
.fw-n {
  font-weight: normal;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.t-c {
  text-align: center;
}
.t-l {
  text-align: left;
}
.t-r {
  text-align: right;
}
</style>
